@import (reference) '~antd/es/style/themes/index';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.card {
  margin-bottom: 24px;
}

.result {
  max-width: 560px;
  margin: 0 auto;
  padding: 24px 0 8px;
}
