@import (reference) '~antd/es/style/themes/index';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.card {
  margin-bottom: 24px;
  .ant-card-body {
    padding: 45px !important;
  }
}

.result {
  max-width: 560px;
  margin: 0 auto;
  padding: 24px 0 8px;
}

.submit1 {
  margin-left: -95%;
}

.submit2 {
  max-width: 560px;
  margin: 0 auto;
  margin-left: -35%;
  padding: 24px 0 8px;
}

.submitTitle {
  margin-bottom: 10px;
  color: rgba(128, 128, 128, 0.85);
  font-size: 10px;
}

.submitDescription {
  width: 500px;
  margin-left: -158px;
}

.submitOne {
  margin-top: 7px;
}

.submitReactPreview {
  position: absolute;
  top: 80px;
  right: 15%;
  width: 30%;
  max-width: 450px;
  min-height: 400px;
}

.submitReactPreviewLast {
  position: absolute;
  top: 80px;
  right: 36%;
  width: 30%;
  max-width: 487px;
  min-height: 400px;
}

.Previewtext {
  font-weight: bold;
  font-size: 18px;
}

.stepUp3 {
  height: 1200px;
}

.stepUp2div {
  display: flex;
  width: 478px;
  margin-top: 15px;
}

.stepUp3div {
  display: flex;
  justify-content: center;
  width: 478px;
  margin-top: 15px;
}

.stepUp3button {
  margin-left: 15px;
}

.stepHeight {
  height: 200px;
}

.ConnectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  margin: 0px auto;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  h3 {
    font-size: 40px;
  }
}
